<section class="Wrapper">
  <!-- <p class="Albums_empty" *ngIf="noAlbums">There isn't any albums with such name</p> -->
  <div class="Albums">
    <div
      *ngFor="let album of albumsToShow; let i = index"
      class="Albums-Album"
      (mouseover)="hoverElement = album"
      (mouseleave)="hoverElement = null"
      [ngStyle]="imgStyles(album)"
      [ngClass]="{hover: hoverElement === album}"
    >
      <div class="Content" *ngIf="hoverElement === album">
        <p class="Info Info-Singer" *ngIf="album.artist">{{ album.artist.name }}</p>
        <p class="Info Info-Name">{{ album.name }}</p>
        <a class="Info Info-Link" [href]="album.url" target="_blank">Go to song</a>
        <button
          *ngIf="!album.isFavorite"
          mat-icon-button
          aria-label="Add to favorites"
          (click)="handleAddToFavorite(album, activeGenre)"
        >
          <mat-icon>favorite_outline</mat-icon>
        </button>
        <button
          *ngIf="album.isFavorite"
          mat-icon-button
          aria-label="Remove from favorites"
          (click)="handleRemoveFromFavorite(album, activeGenre)"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
