<section>
  <app-navigation
    (onSearch)="handleOnSearch($event)"
    (onOpenFavorites)="handleOpenFavorites($event)"
    (onCloseFavorite)="handleCloseFavorites($event)"
    [badgeValue]="this.genresService.favoriteAlbumsByGenre.getValue().length"
  >
  </app-navigation>

  <section class="Albums" *ngIf="this.genresService.isLoaded.getValue()">
    <router-outlet
      *ngIf="this.genresService.favoriteFilterOn"
    >
    </router-outlet>

    <app-album
      #album
      *ngIf="!this.genresService.favoriteFilterOn"
      [albumsToShow]="albumsToShow"
      [activeGenre]="this.genresService.activeGenre"
    >
    </app-album>
  </section>

  <mat-paginator
    #paginator
    *ngIf="this.genresService.isLoaded.getValue() && !this.genresService.favoriteFilterOn"
    [length]="currentItems"
    [pageIndex]="this.pageIndex - 1"
    [hidePageSize]="true"
    showPageSizeOptions="true"
    aria-label="Select page"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</section>



