@import '../shared/variables'

section
  height: 100vh
  display: flex
  flex-direction: column

  .Albums
    height: 100%
    overflow-y: scroll !important

    .Albums_empty
      @include font-regular
      width: 100%
      margin: 48px 24px

