<section>
  <app-navigation
    (onCloseSearch)="handleOnCloseSearch()"
    (onOpenFavorites)="handleOpenFavorites()"
    (onCloseFavorite)="handleCloseFavorites()"
    [badgeValue]="genresService.favoriteAlbumsByGenre.getValue().length"
  >
  </app-navigation>

  <section class="Albums" *ngIf="genresService.isLoaded.getValue()">
    <router-outlet #router>
    </router-outlet>

    <p class="Albums_empty" *ngIf="noAlbums && !genresService.favoriteFilterOn">
      There aren't any albums with such name
    </p>

    <app-album
      *ngIf="!genresService.favoriteFilterOn && !noAlbums"
      [albumsToShow]="albumsToShow"
      [activeGenre]="this.genresService.activeGenre"
    >
    </app-album>

  </section>

  <mat-paginator
    *ngIf="this.genresService.isLoaded.getValue() && !genresService.favoriteFilterOn"
    [length]="currentItems"
    [pageIndex]="this.pageIndex - 1"
    [hidePageSize]="true"
    showPageSizeOptions="true"
    aria-label="Select page"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</section>



