<mat-toolbar class="Header">
  <div class="LeftSide">
    <button
      mat-icon-button
      class="BackButton"
      (click)="handleBack()"
    >
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>

    <form class="test" [formGroup]="form">
      <mat-form-field appearance="outline" class="Search" (click)="handleOnSearch()">
        <mat-label>Search</mat-label>
        <input
          matInput
          formControlName="search"
        >
      </mat-form-field>
    </form>

    <button mat-icon-button *ngIf="this.genresService.searchFilterOn" (click)="handleCloseSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </div>



  <span class="Spacer"></span>

  <button
    *ngIf="!this.genresService.favoriteFilterOn"
    mat-icon-button
    color="secondary"
    class="Favorite"
    (click)="handleOpenFavorites()"
  >
    <mat-icon [matBadge]="badgeValue" matBadgeColor="warn">favorite</mat-icon>
  </button>

  <button
    *ngIf="this.genresService.favoriteFilterOn"
    mat-icon-button
    color="accent"
    class="Favorite"
    (click)="handleCloseFavorites()"
  >
    <mat-icon [matBadge]="badgeValue" matBadgeColor="warn">favorite</mat-icon>
  </button>

</mat-toolbar>
