@import '../variables'

.Genres
  width: 80%
  height: 100vh
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-content: space-between
  margin: auto
  padding: 120px 0px

  .Genre
    width: 30%
    height: 46%
    @include font-medium
    background-color: $color-accent
    display: flex
    justify-content: center
    align-items: center
    border-radius: 24px
    background-size: cover
    background-repeat: no-repeat

  .Genre_rock
    background-image: $url-rock
  .Genre_electro
    background-image: $url-electro
  .Genre_hipHop
    background-image: $url-hipHop
  .Genre_pop
    background-image: $url-pop
  .Genre_rAndB
    background-image: $url-rAndB
  .Genre_indie
    background-image: $url-indie

