@import '../variables'

.Genres
  width: 60%
  height: 100vh
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-content: space-between
  margin: auto
  padding: 120px 0px

  .Genre
    width: 30%
    height: 48%
    @include font-medium
    background-color: $color-accent
    display: flex
    justify-content: center
    align-items: center



