<section class="Genres">
  <div class="Genre Genre_rock">
    <p class="GenreName">Rock</p>
  </div>

  <div class="Genre Genre_rock">
    <p class="GenreName">Electro</p>
  </div>

  <div class="Genre Genre_rock">
    <p class="GenreName">Hip-hop</p>
  </div>

  <div class="Genre Genre_rock">
    <p class="GenreName">Pop</p>
  </div>

  <div class="Genre Genre_rock">
    <p class="GenreName">R&B</p>
  </div>

  <div class="Genre Genre_rock">
    <p class="GenreName">Indie</p>
  </div>
</section>
